<section class="equipments">
   <div class="wrapper">
      <h1 class="equipments__title">Оборудование</h1>

      <div class="equipments__slider slider">

         {{#each  equipments}}
            <div class="slider__card equipments-card card card_{{id}}">

               <div>
                  {{#each mark}}
                     <div class="mark__container">
                        <div class="equipments-card__mark mark" style="background-color: {{color}};">{{text}}</div>
                     </div>
                  {{/each}}
               </div>


               <div class="equipments-card__img">
                  <img src="img/pic/{{img}}" alt="{{img}}">
               </div>

               <h5 class="equipments-card__title">{{name}}</h5>

               <div class="equipments-card__price price">
                  {{#if oldPrice}}
                     <span class="old-price">{{oldPrice}} ₽</span>
                  {{/if}}

                  <span class="new-price">
                     {{#if plan}}
                        от {{plan.[36]}}
                     {{else}}
                        {{price}}
                     {{/if}}
                  </span><span class="always">₽</span>

                  <span>в месяц</span>
               </div>

               <p class="equipments-card__text">{{text}}
                  {{#h-if id '===' 'eq-almond'}}
                     <span class="link" data-toggle="modal" data-target="#modalAlmond" onclick="openEqAlmond()">
                           Подробнее
                        </span>
                  {{else}}
                     <span class="link" onclick="moreTariff('#{{id}}', {{@index}}, 'details_{{dataView}}')">
                           Подробнее
                        </span>
                  {{/h-if}}
               </p>

               <button
                  data-view="block_{{dataView}}"
                  onclick="openOrder({
                     eventLabel: { label: '{{dataView}}', block: 'equipment' },
                     priceEquipSelector: '.card_{{id}} .new-price',
                     nameEquip: '{{name}}'
                  })"
                  data-toggle="modal"
                  data-target="#order"
                  class="equipments-card__btn btn btn-fiolet">
                  Заказать
               </button>

            </div>
         {{/each}}

      </div>

   </div>
</section>