<!--Подробнее Тарифы-->
{{#each tariffs}}
   <div class="modal fade tariff-modal" id="{{id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="tariff-modal__btn">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-dialog modal-dialog-centered" role="document">


         <div class="modal-content">

            <h1 class="tariff-modal__title wrapp">Объединяй! {{name}}</h1>

            <ul class="tariff-modal__container">

               {{#each infoModal}}
                  <li class="tariff-modal__item item-modal wrapp">
                     <div class="item-modal__title">
                        <div class="item-modal__title-icon">
                           <img src="img/svg/mobile.svg" alt="">
                        </div>
                        <h2>{{title}}</h2>
                     </div>

                     <ul class="item-modal__options">
                        {{#each options}}
                           <li class="item-modal__option option-item">
                              <div class="option-item__text">
                                 <p class="option-item__text-name">{{name}}</p>
                                 {{#if description}}
                                    <p class="option-item__text-desc">{{description}}</p>
                                 {{/if}}
                              </div>
                              <p class="option-item__value">{{value}}</p>
                           </li>
                        {{/each}}
                     </ul>
                  </li>
               {{/each}}

            </ul>

         </div>
      </div>
   </div>
{{/each}}

