<section class="about-tariffs">
   <div class="wrapper">
      <h2 data-view="block_faq">Дополнительная информация:</h2>

      <div id="accordion1" class="accordion">
         {{#each info}}
            <div>
               {{#each col}}
                  <div class="accordion__item">
                     <div class="accordion__header collapsed"
                          data-toggle="collapse"
                          data-target="#collapse{{@../index}}{{@index}}"
                          aria-controls="collapse{{@../index}}{{@index}}"
                          aria-expanded="false">
                        {{question}}
                     </div>
                     <div id="collapse{{@../index}}{{@index}}" class="collapse" data-parent="#accordion1">
                        <div class="card-body">
                           {{{answer}}}
                        </div>
                     </div>
                  </div>
               {{/each}}

            </div>
         {{/each}}
      </div>
   </div>
</section>