<section class="equipment">
   <div class="wrapper">
      <div class="equipment__slider slider">
         {{#each performance}}
            <div class="equipment__slide slide-equipment">
               <div class="slide-equipment__wrapp">
                  <div class="slide-equipment__text">
                     <h2>{{name}}</h2>
                     <p>{{{text}}}</p>
                     <div class="equipment-params">
                        {{#each icons}}
                           <div class="equipment-params__item">
                              <div class="equipment-params__item_icon {{icon}}"></div>
                              <div class="equipment-params__item_text">{{{text}}}</div>
                           </div>
                        {{/each}}
                     </div>
                     <div class="equipment-order">
                        <div data-toggle="modal"
                             data-target="#order"
                             class="btn btn-fiolet"
                             data-view="block_{{dataView}}"
                             onclick="openOrder('send_', '{{dataView}}')"
                        >Заказать
                        </div>
                        <div class="equipment-order__text">
                           <p>{{price}} ₽/мес</p>
                           <a href="#">Скачать подробную информацию</a>
                           <div data-toggle="modal"
                                data-target="#{{id}}"
                                onclick="analytics('details_{{dataView}}')"
                           >
                              Технические характеристики
                           </div>
                        </div>
                     </div>
                  </div>
                  <picture class="slide-equipment__img">
                     {{#if mobImg}}
                        <source srcset="img/pic/{{mobImg}}" media="(max-width: 767px)">{{/if}}
                     <img src="img/pic/{{img}}" alt="{{img}}">
                  </picture>
               </div>
            </div>
         {{/each}}
      </div>
   </div>
</section>