<!--Подробнее Модемы-->
{{#each performance}}
   <div class="modal fade performance" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

            <div class="modal-wrapper">
               <div class="performance__text">
                  <h2>{{name}}</h2>
                  <h3>Характеристики:</h3>
                  <ul>
                     {{#each params}}
                        <li>{{this}}</li>
                     {{/each}}
                  </ul>
               </div>

               <div class="performance__img">
                  <img src="img/pic/{{img}}" alt="img"/>
               </div>

               <div class="modal-order">
                  <a href="#" class="btn" data-toggle="modal" data-target="#order">Заказать</a>
                  <div class="modal-order__text">
                     <p>{{price}} ₽/мес</p>
                     <a href="#">Скачать подробную информацию</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{{/each}}
<div class="modal fade performance" id="{{unite.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

         <div class="modal-wrapper">
            <div class="performance__text">
               <h2>{{unite.name}}</h2>
               <h3>Характеристики:</h3>
               <ul>
                  {{#each unite.params}}
                     <li>{{this}}</li>
                  {{/each}}
               </ul>
            </div>

            <div class="performance__img">
               <img src="img/pic/router_info.png" alt="img"/>
            </div>

            <div class="modal-order">
               <a href="#" class="btn" data-toggle="modal" data-target="#order">Заказать</a>
               <div class="modal-order__text">
                  <p>{{unite.price}} ₽/мес</p>
                  <a href="#">Скачать подробную информацию</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--Выбор города-->
<div class="modal fade city-selection" id="citySelection" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
         <div class="city-selection-wrapper">
            <div class="city-selection__header header-city">
               <div class="header-city__title">Выбор региона</div>
               <input type="text" placeholder="Поиск региона">
               <div class="header-city__auto">
                  Автоопределение местоположения: <span>Москва и область</span>
               </div>
            </div>

            <div class="city-selection__body select-region">
               <div class="select-region__top">
                  <a href="#">Москва и область</a>
                  <a href="#">Санкт-Петербург и область</a>
               </div>
               {{#each cities}}
                  <div class="select-region__regions-group">
                     <div class="select-region__region-title">{{alph}}</div>
                     {{#each cities}}
                        <div class="select-region__region">
                           <a class="select-region__link" href="{{link}}">{{name}}</a>
                        </div>
                     {{/each}}
                  </div>
               {{/each}}
            </div>
         </div>
      </div>
   </div>
</div>

<!--Подробнее Тарифы-->
{{#each tariffs}}
   <div class="modal fade tariff-modal" id="{{id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
            <h2>Объединяй! {{name}}</h2>
            <div class="tariff-modal__info">
               <div class="tariff-modal__info-wrapper">
                  <div class="tariff-modal__info-col tariff-modal__info-col_1">
                     <div class="tariff-modal__info-title tariff-modal__title_web">
                        <img src="img/svg/wi-fi.svg" alt="img">
                        Интернет
                     </div>

                     <div class="tariff-modal__info-param">
                        <div class="tariff-modal__param-title">Скорость</div>
                        <p>{{speed}} Мбит/с</p>
                     </div>

                     <div class="tariff-modal__info-param">
                        <div class="tariff-modal__param-title">Трафик</div>
                        <p>Безлимитно</p>
                     </div>
                  </div>

                  {{#if tv.length}}
                     <div class="tariff-modal__info-col tariff-modal__info-col_2">
                        <div class="tariff-modal__info-title tariff-modal__title_tv">
                           <img src="img/svg/tv.svg" alt="img">
                           ТВ
                        </div>

                        <div class="tariff-modal__info-param">
                           <div class="tariff-modal__param-title">Трафик</div>
                           <p>Безлимитно</p>
                        </div>

                        <div class="tariff-modal__info-param">
                           <div class="tariff-modal__param-title">Мегафон ТВ</div>
                           <p>{{totalChannel tv}} каналов</p>
                           <div class="tariff-modal__param-packets">
                              пакеты
                              <a href="#">Максимальный</a>,
                              <a href="#">Детский</a>,
                              <a href="#">18+</a>
                           </div>
                        </div>
                     </div>
                  {{/if}}

                  <div class="tariff-modal__info-col tariff-modal__info-col_3">
                     <div class="tariff-modal__info-title tariff-modal__title_mobile">
                        <img src="img/svg/mobile.svg" alt="img">
                        Мобильная связь
                     </div>
                     <div class="tariff-modal__info-param">
                        <div class="tariff-modal__param-title">Мобильный интернет</div>
                        <p>{{noLimit web}}</p>
                     </div>

                     <div class="tariff-modal__info-param">
                        <div class="tariff-modal__param-title">Звонки на номера МегаФона России</div>
                        <p>Безлимитно</p>
                     </div>

                     <div class="tariff-modal__info-param">
                        <div class="tariff-modal__param-title">Звонки на мобильные номера других операторов России</div>
                        <p>{{min}} минут</p>
                     </div>

                     <div class="tariff-modal__info-param">
                        <div class="tariff-modal__param-title">МегаДиск</div>
                        <p>1 ТБ</p>
                     </div>
                  </div>

               </div>
            </div>
            <div class="tariff-modal__options">
               <h3>Дополнительные опции:</h3>
               <div class="tariff-modal__options-row options-row">
                  {{#if rentTvBox}}
                     <div class="options-row__item item-option">
                        <label>
                           <div class="switch">
                              <input onchange="totalPrice('#{{id}}', 0)" type="checkbox">
                              <span class="round"></span>
                           </div>
                           <div class="item-option__text">
                              <p>Аренда ТВ-приставки</p>
                              <span class="item-option__num">{{rentTvBox}}</span><span> ₽ в месяц</span>
                           </div>
                        </label>
                     </div>
                  {{/if}}
                  {{#if rentRouter}}
                     <div class="options-row__item item-option">
                        <label>
                           <div class="switch">
                              <input {{checkedRoute name}} onchange="totalPrice('#{{id}}', 1)" type="checkbox">
                              <span class="round"></span>
                           </div>
                           <div class="item-option__text">
                              <p>{{rentRouterText}} {{rentRouterSpeed}}</p>
                              <span class="item-option__num">{{rentRouter}}</span><span> ₽ в месяц</span>
                           </div>
                        </label>
                     </div>
                  {{/if}}
                  <div class="options-row__item item-option">
                     <div class="item-option__img">
                        <img src="img/svg/bonus.svg" alt="img">
                     </div>
                     <p>Скидка 40% <br> на SIM-карты</p>
                  </div>
                  <div class="options-row__item item-option">
                     <div>
                        <div class="download-pdf">
                           <a href="#" class="download-pdf__icon">
                              <img src="img/svg/download-pdf.svg" alt="img">
                           </a>
                           <div class="download-pdf__text">
                              <a href="#">Скачать подробную информацию <br> о тарифе</a>
                              <span>(PDF, 0.4 MB)</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="tariff-modal__price price-tariff">
               <div class="price-tariff__title">
                  <p>Стоимость тарифа:</p>
                  <span>с учетом выбранных опций</span>
               </div>

               <div class="price">
                  <div>
                     {{#if oldPrice}}
                        <span class="old-price">{{oldPrice}} ₽</span>
                     {{/if}}
                     <span class="new-price">{{price}}</span><span>₽</span>
                     <span>в месяц</span>
                     {{#if iconInfo }}
                        <div class="price__icon price__icon_all"></div>
                     {{/if}}
                  </div>
               </div>

               <a href="#" class="btn" data-toggle="modal" data-target="#order">Заказать</a>

            </div>
         </div>
      </div>
   </div>
{{/each}}

<!--Заказать-->
<div class="modal fade tariff-modal order-modal" id="order" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">

      <div class="modal-content requisition">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

         <h2>Заявка на подключение</h2>
         <form class="needs-validation" id="orderForm">
            <div class="order-modal__inputs">
               <div class="order-modal__input">
                  <div class="order-modal__input-title">Контактный номер</div>
                  <input type="text" name="phone" id="validationCustom01">
               </div>

               <div class="order-modal__input">
                  <div class="order-modal__input-title">Имя</div>
                  <input type="text" name="name" id="validationCustom02">
               </div>
            </div>

            <div class="order-modal__input order-modal__input_address">
               <div class="order-modal__input-title">Адрес подключения</div>
               <input id="addressOrder" type="text" name="address" placeholder="Ваш адрес">
            </div>

            <div class="order-modal__select-date">
               <span id="selectDate" onclick="nextForm('.order-opportunity', '.requisition')">Выберите дату и время подключения</span>
            </div>

            <button type="submit" class="btn">Отправить</button>
         </form>
      </div>

      <div class="modal-content order-opportunity">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
         <button onclick="backForm('.order-opportunity', '.requisition')" class="back">Назад</button>

         <h2>Проверьте возможность подключения</h2>
         <form name="address">
            <div class="order-modal__inputs">
               <div class="order-modal__input">
                  <input onkeyup="validAddressPopUp('',event)" type="text" name="address" placeholder="Ваш адрес">
                  <label>Подключение по адресу возможно!</label>
                  <label>К сожалению, Вы вне зоны покрытия</label>
               </div>
               <p class="order-opportunity__offer">
                  По вашему адресу: <b>адрес</b> доступно подключение беспроводного интернета
                  Объединяй! Везде
               </p>
            </div>
            <button onclick="nextForm('.order-date' ,'.order-opportunity')" disabled id="btnFormNext" class="btn">
               Проверить
            </button>
            <a href="#" id="btnFormCheck" class="btn">Подробнее</a>
         </form>
      </div>

      <div class="modal-content order-date">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
         <button onclick="backForm('.order-date' ,'.order-opportunity')" class="back">Назад</button>

         <h2>Заявка на подключение</h2>
         <p>Выберите желаемую дату и время подключения:</p>
         <form id="orderOpportunity">
            <div class="order-modal__inputs">
               <div class="order-modal__input">
                  <input placeholder="Выберите дату" data-provide="datepicker" class="datepicker">
                  <select id="mf-select">
                     <option></option>
                     <option>Утро (9:00-12:00)</option>
                     <option>День (12:00-16:00)</option>
                     <option>Вечер (16:00-20:00)</option>
                     <option>Другое</option>
                  </select>
               </div>

            </div>
            <div onclick="onRequisition('.requisition', '.order-date')" class="btn">Подтвердить</div>
         </form>
      </div>

      <div class="modal-content order-thx">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

         <h2>Спасибо за заявку!</h2>
         <p>Наш оператор скоро свяжется с Вами</p>
      </div>

   </div>
</div>
