<section class="tariffs">
   <div class="wrapper">
      <h1 class="tariffs__title" id="tariffs_title">Тарифы для твоего города: <span>Москва</span></h1>

      {{> Tabs}}

      <!-- slider-->
      <div class="slider" id="tariffs-slider">
         {{#each  tariffs}}
            <div class="card slider__card card__{{id}}" data-group="{{group}}">

               <div class="card__header">

                  <div class="card__sale-banner sale-banner">Скидка<br>навсегда!</div>

                  <div class="card__tariff-icon">
                     <img src="img/svg/tariff_{{id}}.svg" alt="{{id}}_icon">
                  </div>

                  <div class="card__title">
                     <h5 class="card__tariff-name">{{group}} {{name}}</h5>
                  </div>

                  <div class="card__price">
                     <span class="old-price">{{price}} ₽</span>
                     <span>
                        <span class="card__new-price">{{salePrice price}} ₽</span>
                        <span>/месяц</span>
                     </span>
                  </div>

               </div>

               <div class="card__body">
                  <ul class="params">
                     <li class="params__item">
                        <p class="params__key">Мобильный интернет</p>
                        <p class="params__value">{{#if web}}{{web}} ГБ{{else}}—{{/if}}</p>
                     </li>
                     <li class="params__item">
                        <p class="params__key">Звонки</p>
                        <p class="params__value">{{#if min}}{{min}} минут{{else}}—{{/if}}</p>
                     </li>
                     <li class="params__item">
                        <p class="params__key">Домашний интернет</p>
                        <p class="params__value">{{#if speed}}{{speed}} Мбит/с{{else}}—{{/if}}</p>
                     </li>
                     <li class="params__item">
                        <p class="params__key">ТВ</p>
                        <div class="params__value">
                           {{#if tvLength}}
                              <span
                                 class="params__tv"
                                 {{#if tvId}}data-tv-id="{{tvId}}"{{/if}}
                                 data-toggle="collapse">
                                 {{tvLength}}
                              </span>

                              <div class="block-progress__progress-bar info-progress-bar">
                                 <div data-toggle="collapse" class="collapse multi-collapse collapse-channel">
                                    <ul class="collapse-channel__channels" data-ul-tv-id="{{tvId}}"></ul>
                                 </div>
                              </div>

                           {{else}}
                              —
                           {{/if}}
                        </div>
                     </li>
                  </ul>

                  {{#h-if dop_params '||' mftv}}
                     <ul class="dop-params">
                        <h5 class="dop-params__title params__key">дополнительно</h5>
                        {{#each dop_params}}
                           <li class="dop-params__item">
                              <div class="dop-params__icon">
                                 <img src="./img/svg/Plus.svg" alt="иконка плюс">
                              </div>
                              <p>{{this}}</p>
                           </li>
                        {{/each}}
                     </ul>

                    {{#if mftv}}
                       <div class="dop-params-mftv {{styleRowMftv mftv}}">
                          {{#each mftv}}
                             <img src="./img/svg/mftv_block_{{icon}}.svg" alt="иконка {{icon}}">
                          {{/each}}
                       </div>
                    {{/if}}
                  {{/h-if}}

               </div>

               <div style="flex-grow: 1"></div>

               <div class="card__btns">


                  {{#h-if id '===' 'vse'}}
                     <a href="/internetvse" class="card__about-btn" data-view="tariff_card_{{id}}_start">Все
                        условия тарифа</a>
                  {{else}}
                     <span class="card__about-btn"
                           onclick="moreTariff('#{{id}}', {{@index}}, 'details_{{id}}')">
                               Все условия тарифа
                            </span>
                  {{/h-if}}

                  <button
                     class="card__connect-btn btn"
                     data-view="tariff_card_{{id}}_end"
                     onclick="openOrder({
                        eventLabel: {label: '{{id}}'},
                        priceEquipSelector: '.card__{{id}} .card__new-price',
                        tariffId: '{{tariffId}}',
                        tariffName: '{{group}} {{name}}'
                        })"
                     data-toggle="modal"
                     data-target="#order">Подключить
                  </button>
               </div>
            </div>
         {{/each}}
      </div>
   </div>
</section>